/*ANCHOR MOBILE*/
.main-header__logo {
    flex: 1 1 150px;
}
.main-header__logo-link {
    display: block;
}
.main-header__logo-img {
    width: 150px;
}

.menu {
    display: none;
    flex: 2 1 300px;
}

.menu__link {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    transition: color 500ms;
}

.menu__link:hover {
    color: var(--primary);
}

.main-header__menu-button {
    padding: 1rem;
    font-size: 2.5rem;
    flex: 1 1 150px;
}


.btn-cta{
    display: inline-block;
    padding: 1rem 2rem;/*HB - GD*/
    background-color: transparent;
    border: 4px solid var(--primary);
    color: var(--primary);
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: border 500ms, background 500ms;
    margin-left: auto;
    white-space: nowrap;
}

.btn-cta:hover {
    background-color: var(--primary);
    border: 4px solid transparent;
    color: var(--white);
}

.open {
    width: 100%;
    padding: 1rem;
    background-color: var(--dark);
    display: block;
    position: absolute;
    top: var(--header-height) ;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(255,255,255,0.2);
}


/*ANCHOR DESKTOP*/
@media screen and (min-width: 600px) {
    .main-header__menu-button {
        display: none;
    }

    .menu {
        display: flex;
    }
}